.button {
  width: 100px;
  height: 100px;
  font-size: 40px;
  margin: 0 auto;
}

#DMTitles, #DMButtons {
  text-align: center;
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  width: 500px;
  margin: 0 auto;
}